*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(233,231,218,255);
}
header{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    gap: 50px;
    padding-top: 30px;
}
.ДЕТАЛЬНІШЕ{
    background-color: rgba(216,214,204,255);
    display: flex;
    right: 105vh;
    width: 50vh;
    height: 12vh;
    margin-left: 43vh;
    justify-content:left;
    gap: 5vh;
    font-size: 25px;
}
.A{
    padding-top: 3vh;
}
.bi-chevron-down{
    padding-top: 3vh;
    padding-left: 3vh;
}
img{
    height: 120vh;
    margin: 0 auto;
    right: 0;
    top: 5vh;
    position: absolute;
    left: -10vh;
}
.derecha{
    background-color: rgba(216,214,204,255);
    display: flex;
    width: 115vh;
    height: 13vh;
    justify-content:left;
    gap: 3vh;
    font-size: 25px;
    margin-left: 100vh;
    position: absolute;
    z-index: -2;
}
.primero{
    color: rgba(255, 255, 255, 0.5);
    margin-top: -10px;
    top: 0px;
    width: 100px;
    transform: scaleX(1.2);
    margin-left: 80px;
    z-index: -1;
    position: absolute;
    
}
.segundo{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 90px;
    margin-top: 30px;
    position: absolute;
    z-index: -1;
}
.centro{
    margin-left: 150px;
    margin-top: 20px;
    transform: scaleX(1.3);
    position: absolute;
    
}
.medio{
    background-color: rgba(57,62,68,255);
    width: 85vh;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(230,228,215,255);
    margin-top: 15vh;
    padding-left: 25px;
    
}
.texto{
    margin-left: 30vh;
    transform: scaleX(1.1);
}
.ultimo{
    background-color: rgba(57,62,68,255);
    display: flex;
    width: 50vh;
    height: 80px;
    justify-content:center;
    gap: 20px;
    font-size: 25px;
    margin-left: 110vh;
    margin-top: 140px;
}
.K{
    margin-left: 50px;
    color: white;
    margin-top: 25px;
}
.bi-chevron-right{
    color: white;
    margin-top: 25px;
    margin-left: -15px;
}
footer{
    height: 10vh;
    display: flex;
    padding-left: 10px;
    padding-top: 30px;
    justify-content: space-around;
    transform: scaleX(1.2);
}
.veinte{
    position: absolute;
    z-index: -3;
}
